body,
html {
    height: 100%;
    background-color: #f2f2f2;
}

.epm.row {
    margin-left: 0;
    margin-right: 0;
}

p {
    margin: 5px auto;
}

.cluster_detail_row {
    margin: auto 20px !important;
}

.cluster_detail_col {
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fafafa 0, #e9e9e9 100%);
    height: 32px;
}

.cluster_detail_title {
    line-height: 32px;
}

.cluster_detail_span {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 700;
    display: block;
}

.cluster_detail_content {
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}

.cluster_detail_content:after {
    content: "";
    display: table;
    clear: both;
}

.cluster_detail_content:before {
    content: "";
    display: table;
}

.cluster_detail_content_col {
    min-height: 60px !important;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin: 15px;
    border-radius: 3px;
}

.cluster_detail_content_col div {
    text-align: center !important;
}

.cluster_detail_content_col div:first-child {
    font-weight: 700 !important;
    font-size: 20px;
}

.cluster_detail_content_col div:last-child {
    font-size: 13px;
}

.header-divider {
    height: 60px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(151, 151, 151, .6);
}

.header-divider .header-dividerL {
    float: left;
    width: 400px;
    margin-top: 15px;
    margin-left: 20px;
}

.header-divider .header-dividerR {
    float: right;
    cursor: pointer;
}

.header-bonc {
    color: #b51515;
    font-weight: 700;
    font-size: 20px
}

.header-color {
    margin-left: 5px;
    font-size: 19px;
}

.header-divider .header-dividerR .header-dividerR-menu-link {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
}

.cent {
    height: 120px;
    width: 18%;
    display: inline-block;
    position: relative;
    margin: 1%;
    border: 1px solid #D8DDE6;
    text-align: center;
}

.cs {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: #D8DDE6;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.cent:hover .cs {
    color: #656e73;
    opacity: 0.95;
}

.shardStyle {
    float: left;
    line-height: 30px;
    color: #403a3a;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    margin: auto 5px;
    cursor: pointe;
}

.inputUrl.epm.input>.inputUrlChild,
.inputUrl.epm.input>.inputUrlChild:focus,
.inputUrl.epm.input>.inputUrlChild:active,
.inputUrlAdd.epm.input>.inputUrlChild,
.inputUrlAdd.epm.input>.inputUrlChild:focus,
.inputUrlAdd.epm.input>.inputUrlChild:active {
    border-color: #c23934 !important;
    box-shadow: #c23934 0 0 0 1px inset;
}

.cent {
    padding-left: 10px;
    padding-right: 10px;
}

.cent>span {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modalTable thead>tr>td {
    height: 38.18px!important;
    display: inline-block;
}

.modalTable tbody>tr>td:first-child {
    height: 43.64px!important;
    display: inline-block;
}

.epm.modal>.content>.body {
    overflow: unset!important;
}

.epm.horizontal.form .formitem {
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
}