#apibleft {
    border-right: 1px solid #F0F3F5;
}

#apibleft li {
    list-style: none;
}

#apibleft li a {
    line-height: 40px;
    padding-left: 16px;
    display: block;
    color: #545454;
    text-decoration: none;
}

#apibleft li a.on,
#apibleft li a:hover {
    color: #00B0FE;
    background: url(../image/api.png) no-repeat;
    background-position: -57px -1044px;
}

.apiline {
    border-bottom: 1px dashed #F0F3F5;
    line-height: 20px;
    padding: 9px 0;
}

.apilinebox {
    margin-bottom: 5px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #F0F3F5;
}

#apibright h4 {
    color: #353D41;
    line-height: 36px;
    margin-top: 1px;
    font-size: 14px;
    background: url(../image/api.png) no-repeat 6px -1257px;
    padding-left: 20px;
    margin-top: 4px;
}